body,
html {
  overflow-x: hidden !important;
}
body {
  a {
    text-decoration: none !important;
  }
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  // overflow: hidden;
  background-color: #262626;
  .stagger-visualizer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .stagger-visualizer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 20rem;
      height: 20rem;
      div {
        &.water {
          background-color: #03658c;
        }
        &.logo-bg {
          background-color: #d94a3d;
        }

        &.clouds {
          background-color: #f2f2f2;
          border-radius: 1rem;
        }
        width: 1rem;
        height: 1rem;
        border: 1px solid transparent;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c030e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d0d0d;
}
